html {font-family: var(--font-main, monospace);}
#app { display: flex; height: 100%; }
#editors {z-index: 100; width: 33%; background: var(--2); display: flex; flex-direction: column; border-right: 2px solid var(--4); position: relative; }
.editor-panel { flex: none; display: flex; flex-direction: column; overflow: hidden;white-space: nowrap;z-index:2;}
.panel-header { background: var(--3); color: var(--6); padding: var(--pad); font-size: 0.9em; display: flex; justify-content: space-between; align-items: center;}
.panel-header input[type=file] { display: none;}
.file-name { margin-left: 8px; color: var(--6); font-size: 0.9em;}
.panel-header button {background: var(--4);border: none;padding: 2px 6px;cursor: pointer;}
.panel-header button:hover, #divider:hover,#fsBtn:hover {background: var(--5);}
#rowDivider { height: 10px; background: var(--4); cursor: row-resize; flex: none;transition:0.5s all;}
textarea { flex: 1; background: var(--2); color: var(--6); border: none; padding: 4px; font-size: 0.95em; line-height: 1.4; resize: none; overflow: auto; outline: none; }
#divider { width: 12px; background: var(--3); cursor: col-resize;transition:0.5s all;}
#preview-panel { flex: 1; position: relative; background: var(--1); display: flex; justify-content: center; align-items: center; }
#lint{position: absolute;bottom: 0;z-index: 10000;left: 0;width: 100%;max-height: 30%;background: var(--0);color: var(--r);font-size: 0.9em;overflow: auto;white-space: pre-wrap;}
#copyErrorsBtn{position: absolute;top: 5px;right: 40px;background: var(--3);color: var(--7);border: none;padding: 4px 8px;cursor: pointer;z-index: 10001;}
#copyErrorsBtn:hover{background: var(--5);}
#closeLintBtn{position: absolute;top: 5px;right: 5px;background: var(--r);border: none;color: var(--7);cursor: pointer;padding: 4px 8px;z-index: 10001;}
#closeLintBtn:hover{background: var(--0);color:var(--r);}
#lintContent{padding: 0 10px 0 10px;}
#glcanvas { width: 100%; height: 100%; display: block; }
#fsBtn { position: absolute; top: 10px; right: 10px; z-index: 10; background: var(--d); color: var(--6); border: none; padding: var(--pad); font-size: 1em; cursor: pointer;width:2rem;height:2rem }
.lbtn {height:39px;position: absolute;bottom: 10px;right: 10px;background: var(--d);color: var(--l);padding: 12px 10px;border: none;cursor: pointer;z-index:10}.expbtn:hover {background:var(--5);}
.expbtn {position: absolute;bottom: 10px;right: 10px;background: var(--d);color: var(--l);height:39px;border: none;cursor: pointer;z-index:4;width:4.25rem}.lbtn:hover {background:var(--5);}
.savew {display:none; position:absolute; width:100%; height:100%; background:var(--2); color:var(--6); padding:10px; z-index:100;}
.toggles {display:flex; margin-bottom:10px;}
.togbtn{flex: 1;border: none;padding: 16px 0px;cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;color:var(--6)}
.savesct {display:none; overflow:auto; height:90%;padding:10px;} 
.closebtn{width: 100%;position: absolute;bottom: 10px;right: 10px;background: var(--5);color: var(--l);border: none;cursor: pointer;padding: 12px;max-width:7.8rem;}
.savebtn, .sharebtn{background: var(--5);color: var(--7);border: none;cursor: pointer;padding: var(--pad);text-align: center;margin-bottom: 0.5rem;max-height:4rem;max-width: 6rem;word-break: break-word;overflow-wrap: break-word;white-space: normal;}
.savebtn {overflow: hidden;}
.savebtn:hover, .sharebtn:hover {background: var(--4);}
.upldzone {border:2px dashed var(--4);padding:20px;text-align:center;margin-bottom:10px;cursor:pointer;background:var(--3);color:var(--7);overflow-wrap: break-word;max-height:300px;}
.ellips, .upldzone p{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.saveinput {width:100%;padding:5px;margin-bottom:10px;background:var(--3);color:var(--7);border:none;}
.img {margin:6px 0;max-width:100%}
.ldbtn {padding:6px;background:var(--5);color:var(--7);border:none;cursor:pointer;width:80%;max-width:12.5rem;}
.xbtn {float:right;padding:4px;background:var(--5);color:var(--7);border:none;cursor:pointer;}
@media (max-width: 767px) {#divider { width: 14px;transition:0.5s all;}#rowDivider { height: 12px;transition:0.5s all;}}